@font-face {
    font-family: DM;
    src: url(fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: DM-italic;
    src: url(fonts/DMSerifDisplay-Italic.ttf);
}
@font-face {
    font-family: Nanum;
    src: url(fonts/NanumMyeongjo-Regular.ttf);
}

body {
    background-color: rgb(190, 190, 190);
}
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    transition-duration: 0.2s;
}


.landing-container {
position: relative;    
display:flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 100%;
transform-style: preserve-3d;
z-index: -1;
}
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
    filter:saturate(20%)
}

.title-btn {
    flex-basis: 100%;
    transform: translateY(-25vh);
}

h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 0 0 4px black;
    transform: translateY(-20vh)
}
h2 {
    color: white;
}
h1, h2, h3, h5 {
    font-family: 'DM';
}
h3 {
    
}
p {
    font-family: 'Nanum';
    color:rgb(203, 203, 203)
}
.footer-container {
    background-color:rgb(0, 0, 0);
}
.second-container {
    background-color: rgb(0, 0, 0);
    color: white !important;
}
.about-container {
    background-color: black;
}

.nav-link {

}
.nav-link:hover {
    transform: scale(1.1);
}

.nav-link:not(hover) {
}

.back {
    transition-duration: 0.2s !important;
    transform: scale(1) !important;
}
.back:hover {
    color: rgb(21, 66, 99) !important;
    transition-duration: 0.2s !important;
    transform: scale(1.2) !important;
}