@font-face {
    font-family: DM;
    src: url("./fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
    font-family: DM-italic;
    src: url("./fonts/DMSerifDisplay-Italic.ttf");
}

@font-face {
    font-family: Nanum;
    src: url('./fonts/DMSerifDisplay-Regular.ttf');
}
.carousel-item img {  
    object-fit: contain !important;
    object-position: center !important;
    overflow: hidden !important;
    height:50vh !important;
  }

body {
    background-color: rgb(33, 37, 41);
    transition-duration: 0.2s;
    position: relative;
    overflow-x: hidden !important;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    transition-duration: 0.2s;
    
}


.landing-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(3) translateY(-1vh);
    filter: saturate(20%)
    
}


.title-btn {
    flex-basis: 100%;
    transform: translateY(-25vh);
}

@media only screen and (max-width: 896px) {
    .title-btn {
        flex-basis: 100%;
        transform: translateY(-18vh);
    }

  }
    iframe {
        width: 100vw;
    }
    

.title-addr {
    flex-basis: 100%;
}

.her0-img {
    transform: scale(0.5);
}

h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 0 0 4px black;
    transform: translateY(-20vh)
}

.contact-text {
    text-shadow: 0 0 4px black;
}

h2 {
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'DM';
}

.btn {
    font-family: 'DM';
}
.faq-link {
    font-family: 'DM';
}
.faq-title {
    color: rgb(242, 255, 239)
}

p,  td {
    font-family: 'Nanum';
    color: rgb(190, 190, 190);
    list-style-type: none;
text-align: center;
}
th {
    color: rgb(237, 237, 237);
    text-align: right;
    font-family: 'DM';
    text-align: center;
}
 label {
    font-family: 'DM';
}

.footer-container {
    background-color: rgb(0, 0, 0);
}

.second-container {
    background-color: rgb(0, 0, 0);
    color: white !important;
}

.about-container {
    background-color: black;
}

.nav-link {
    transform: scale(1) !important;
}

.nav-link:hover {
    color: #88b48d !important;
    transform: scale(1.03) !important;
}

.contact-container {
    background: url("./imgs/conact.png");
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;

}

i {
    color: white;
    transition-duration: 0.2s;
}

i:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: rgb(220, 255, 230);
}

.btn-primary {
    background-color: rgb(86, 147, 66);
    color:white;
    border: 1px solid white;
    transition-duration: 0.2s;
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(33, 33, 33);
    border: 1px solid white;
    transition-duration: 0.2s;
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: 1px solid white;
    transition-duration: 0.2s;
}
.btn-secondary:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(33, 33, 33);
    border: 1px solid white;
    transition-duration: 0.2s;
}

.btn-FAQ {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: 1px solid white;
    transition-duration: 0.2s;
}
.btn-FAQ:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(33, 33, 33);
    border: 1px solid white;
    transition-duration: 0.2s;
}
.faq-banner {
    background: url(./imgs/banner.webp) !important;
    padding-top: 10vh;
    padding-bottom: 10vh;
background-position: center !important;
background-size: cover !important;
background-attachment: fixed !important;
background-size: 100% auto;

}
.link-light.active {
    background-color: rgb(34, 97, 21) !important;
}
.phone-num {
    color: white !important;
}
.blurb {
    font-size: large;
    text-align: start;
}
.content-row {
    justify-content: center;
}
table {
    margin: none !important;
}
td {
    text-align: start;
}
.op {
    text-align: end;
    margin: auto;
}
.closed {
    color: rgb(194, 67, 67) !important;
}
.scrollspy-example-2 p {
    text-align: start !important;
}
.nav-pills {
    background-color: #32373c !important;
}
.border {
    border: solid white;
}