@font-face {
    font-family: DM;
    src: url(fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: DM-italic;
    src: url(fonts/DMSerifDisplay-Italic.ttf);
}

@font-face {
    font-family: Nanum;
    src: url(fonts/NanumMyeongjo-Regular.ttf);
}

body {
    background-color: rgb(190, 190, 190);
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    transition-duration: 0.2s;
}


.landing-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-10px) scale(2);
    filter: saturate(20%)
}

.title-btn {
    flex-basis: 100%;
    transform: translateY(-25vh);
}

.title-addr {
    flex-basis: 100%;
}

.her0-img {
    transform: scale(0.5);
}

h1 {
    color: white;
    font-size: 5rem;
    text-shadow: 0 0 4px black;
    transform: translateY(-20vh)
}

.contact-text {
    text-shadow: 0 0 4px black;
}

h2 {
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'DM';
}

.btn {
    font-family: 'DM';

}

p {
    font-family: 'Nanum';
    color: rgb(203, 203, 203)
}

.footer-container {
    background-color: rgb(0, 0, 0);
}

.second-container {
    background-color: rgb(0, 0, 0);
    color: white !important;
}

.about-container {
    background-color: black;
}

.nav-link {
    transform: scale(1) !important;
}

.nav-link:hover {
    color: rgb(136, 180, 141) !important;
    transform: scale(1.06) !important;
}

.contact-container {
    background: url("./imgs/conact.png");
    background-repeat: no-repeat;
    background-size: cover;
}

i {
    color: white;
    transition-duration: 0.2s;
}

i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(220, 255, 230);
}

.btn-primary {
    background-color: rgb(53, 150, 87);
    border-color: rgb(41, 94, 50) !important;
}

.btn-primary:hover {
    transition-duration: 0.2s !important;
    background-color: black;
}

.btn-secondary {
    background-color: rgb(132, 148, 137);

}